<div class="app-container">
  <nav class="navbar">
    <div class="nav-content">
      <div class="logo">
        <img src="assets/images/logo.png" alt="Digital Card Logo">
    </div>
      <div class="nav-buttons">
        <ng-container *ngIf="!authService.isLoggedIn(); else loggedInButtons">
          <button class="login-btn" routerLink="/login">Giriş Yap</button>
          <button class="register-btn" routerLink="/register">Kayıt Ol</button>
        </ng-container>
        <ng-template #loggedInButtons>
          <button class="digital-card-btn" routerLink="/profile">Dijital Kartım</button>
          <button class="logout-btn" (click)="authService.logout()">Çıkış Yap</button>
        </ng-template>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer class="app-footer">
    <div class="footer-content">
      <p>© 2024 Dijital Kartvizit. Tüm hakları saklıdır.</p>
      <div class="footer-links">
        <a href="#">Gizlilik Politikası</a>
        <a href="#">Kullanım Şartları</a>
        <a href="#">İletişim</a>
      </div>
    </div>
  </footer>
  </div>
